/* General Style */
body {
  font-family: 'Source Sans Pro', sans-serif !important;
  margin: 0;
  padding: 0;
}

.text-dark {
  color: #000 !important;
}

h4 {
  font-family: 'Comfortaa', cursive !important;
  font-size: 30px !important;
  vertical-align: middle;
}

h4 span.outer {
  width: 40px;
  height: 40px;
  border: 1px solid red;
  background-color: #000;
  text-align: center;
  border-radius: 50%;
}

input[type='text']:focus,
input[type='email']:focus {
  box-shadow: none;
  outline: none;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

/* Contact */
.contacts {
  width: 78%;
  margin: 5% auto;
  padding: 3rem 5rem;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
}

.contact-wrapper {
  padding-top: 1.3rem;
}

/* Icons */
.remove-icon {
  cursor: pointer;
}

.add-icon {
  position: fixed;
  right: 50px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  line-height: 55px;
  font-size: 40px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  color: #000;
  text-align: center;
}

.add-icon:hover {
  color: #000;
}

.back-icon {
  padding-right: 3px;
}
/* Responsive */
@media only screen and (max-width: 560px) {
  .contacts {
    width: 100%;
    margin: 2% auto;
    padding: 2rem 2rem;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  }
}
